.column {
	float: left;
}

.column.side {
	width:20%
}

.column.middle {
	width: 60%;
	background-color: #121212;
}

@media screen and (max-width: 600px) {
	.column.side, .column.middle {
		width:100%;
	}
}

.header{
	background-color: #FDFAC8;
	text-align: center;
	padding: 20px;
}

body {
	background-color: #121212;
	color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

h2 {
	background-color: #121212;
	color: #FFFFFF;
}

p {
	background-color: #121212;
	color: #FFFFFF;
	text-align: left;
}

a:visited { text-decoration: none; color:#91ADD4; }
a:link { text-decoration: none; color:#91ADD4; }

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.fit-image{
width: 100%;
object-fit: cover;
}

.rcorners1 {
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  padding: 20px;
  width: auto;
  height: auto;
}

